// http://clrs.cc/

@NAVY:    #001F3F;
@BLUE:    #0074D9;
@AQUA:    #7FDBFF;
@TEAL:    #39CCCC;
@OLIVE:   #3D9970;
@GREEN:   #2ECC40;
@LIME:    #01FF70;
@YELLOW:  #FFDC00;
@ORANGE:  #FF851B;
@RED:     #FF4136;
@MAROON:  #85144B;
@FUCHSIA: #F012BE;
@PURPLE:  #B10DC9;
@BLACK:   #111111;
@GRAY:    #AAAAAA;
@SILVER:  #DDDDDD;

body{
  background-color: @GRAY;
}

//-------Input Style--------//

input.ng-invalid, select.ng-invalid{
  background-color: @RED;
}

//-------End Input Style-------//

//--------Footer Styling--------//

// footer p{
//   padding-top: 10px;
//   color: #777;
// }

/********* NAV *********/
.header .header-content {
  margin-top: 60px;
  margin-bottom: 120px;

}
header.header, nav.top-bar, .top-bar-section {
  background: #384047;
}
#nav {
  background: #384047;
  height: 70px;
  z-index: 101;
  padding: 10px 30px;
  vertical-align: middle;
}
.top-bar-section ul {
  background: #384047;
}
.top-bar .name h1 {
  text-transform: uppercase;
  width: 100%;
  text-align: left;
  margin-bottom: 3px;
  margin-top: 3px;
  background: #384047;
  font-size: 25px;
  font-weight: 500;
}
.top-bar-section li:not(.has-form) a:not(.button) {
  text-transform: uppercase;
  width: 100%;
  text-align: right;
  margin-bottom: 3px;
  margin-top: 3px;
  background: #384047;
  font-size: 12px;
  font-weight: 500;
}

/********* FOOTER *********/
.footer-bottom {
  background: #384047;
  padding: 24px 0 10px;
}

//---------End Footer Styling--------//

//--------Profile Page Styling-------//

/********* PROFILE *********/

#profile h2{
  text-align: center;
  font-weight: bold;
}

#editButton{
  text-align: center;
}

//--------End Profile Page Styling-------//

//--------Crawl Page Styling--------//

#Crawlh2{
  text-align: center;
  font-weight: bold;
}

#savedCrawls{
  text-align: center;
  font-weight: bold;
}

//--------End Crawl Styling--------//

.zurb-footer-bottom {
  background: #333;
  padding: 24px 0 10px; }
  .zurb-footer-bottom .design-border {
    border-bottom: 1px solid #484848;
    padding-bottom: 5px;
    margin-bottom: 25px; }
  .zurb-footer-bottom a.zurb-logo {
    color: #858585;
    font-weight: normal;
    background: url("#") no-repeat 0 3px;
    padding: 23px 0 0 0 !important;
    font-size: 0.88889rem;
    display: inline-block;
    width: 90px; }
    .zurb-footer-bottom a.zurb-logo:hover {
      opacity: 0.8;
      filter: alpha(opacity=80); }
  .zurb-footer-bottom ul.zurb-links {
    margin: 0;
    display: inline-block;
    padding-bottom: 0px; }
    .zurb-footer-bottom ul.zurb-links li {
      display: block;
      float: left;
      margin-left: 6px;
      text-transform: uppercase;
      font-weight: 700;
      font-size: 0.75rem; }
      .zurb-footer-bottom ul.zurb-links li a {
        color: #666;
        padding: 3px 6px; }
        .zurb-footer-bottom ul.zurb-links li a:hover {
          color: #777; }
  .zurb-footer-bottom p.copyright {
    margin: 6px 0 0;
    font-size: 0.75rem;
    color: #666; }
  .zurb-footer-bottom ul.home-social {
    display: block;
    float: right;
    margin-bottom: 8px; }
    .zurb-footer-bottom ul.home-social li {
      list-style: none;
      display: block;
      float: left;
      margin-left: 10px; }
      .zurb-footer-bottom ul.home-social li:first-child {
        margin-left: 0; }
        .zurb-footer-bottom ul.home-social li a {
        display: block;
        height: 50px;
        width: 50px;
        background: url("#") no-repeat center 0; }
        .zurb-footer-bottom ul.home-social li a:hover {
          opacity: 0.8;
          filter: alpha(opacity=80); }
        .zurb-footer-bottom ul.home-social li a.twitter {
          background-position: center 0; }
        .zurb-footer-bottom ul.home-social li a.facebook {
          background-position: center -200px; }
        .zurb-footer-bottom ul.home-social li a.mail {
          background-position: center -400px; }
