// http://clrs.cc/

@NAVY:    #001F3F;
@BLUE:    #0074D9;
@AQUA:    #7FDBFF;
@TEAL:    #39CCCC;
@OLIVE:   #3D9970;
@GREEN:   #2ECC40;
@LIME:    #01FF70;
@YELLOW:  #FFDC00;
@ORANGE:  #FF851B;
@RED:     #FF4136;
@MAROON:  #85144B;
@FUCHSIA: #F012BE;
@PURPLE:  #B10DC9;
@BLACK:   #111111;
@GRAY:    #AAAAAA;
@SILVER:  #DDDDDD;

input.ng-invalid, select.ng-invalid{
  background-color: @RED;
}


/********* NAV *********/
.header .header-content {
  margin-top: 60px;
  margin-bottom: 120px;

}
header.header, nav.top-bar, .top-bar-section {
  background: #384047;
}
#nav {
  background: #384047;
  height: 70px;
  z-index: 101;
  padding: 10px 30px;
  vertical-align: middle;
}
.top-bar-section ul {
  background: #384047;
}
.top-bar .name h1 {
  text-transform: uppercase;
  width: 100%;
  text-align: left;
  margin-bottom: 3px;
  margin-top: 3px;
  background: #384047;
  font-size: 25px;
  font-weight: 500;
}
.top-bar-section li:not(.has-form) a:not(.button) {
  text-transform: uppercase;
  width: 100%;
  text-align: right;
  margin-bottom: 3px;
  margin-top: 3px;
  background: #384047;
  font-size: 12px;
  font-weight: 500;
}

/********* FOOTER *********/
.footer-bottom {
  background: #384047;
  padding: 24px 0 10px;
}


/********* PROFILE *********/

#profile h2{
  text-align: center;
  font-weight: bold;
}

#editButton{
  text-align: center;
}
