body(id='')
  header.header
    .row
      .eight.columns.end
        .header-content
          h1#title MiScEO
          h2.subheading
            | Crawl the interwebz for pr0n
          //- a.btn.btn-primary.btn-raised.btn-large(href='#') About
          //- a.btn.btn-quiet.btn-raised.btn-large(href='#') Meet the Team
    // /row
  // /header
  // ABOUT SECTION
  .sign-up-cta
    .row
      .eight.columns.centered
        h1
          small Mix * Intermingle * Join
          |  MiScEO
        p.subheading
          | Misceo lets you use a crawler to experience the web differently. 
          | Give it a starting site and a depth, our crawler will download all 
          | images from the site and follow all links. It will repeat this until 
          | it reaches the specified depth. You can view all these images, and 
          | view graphs about describing each of your crawls. 
        a.btn.btn-primary.btn-large.btn-raised(ui-sref='register') Sign Up
  // / END about section
  // TEAM SECTION
  section#team.our-team
    // SECTION HEADER
    .section-header.eight.columns.centered
      // SECTION TITLE
      h1 Our Team
    // TEAM MEMBERS
    .row
      // MEMBER 1
      .large-4.small-4.columns
        .team-member
          figure.profile-pic.img-responsive
            img(src='assets/img/team/mikey.jpg', alt='Mikey Badr')
            // MEMBER PROFILE PIC
          .member-details
            h5.dark-text.red-border-bottom Mikey Badr
            .position
              | Team Member
          .social-icons
            ul
              li
                a(href='https://twitter.com/MikeyBadr')
                  i.fa.fa-twitter-square
              li
                a(href='https://github.com/mfbadr')
                  i.fa.fa-github-square
      // MEMBER 2
      .large-4.small-4.columns
        .team-member
          figure.profile-pic.img-responsive
            img(src='assets/img/team/adam.jpg', alt='Adam Barnhard')
          .member-details
            h5.dark-text.green-border-bottom Adam Barnhard
            .position
              | Team Member
          .social-icons
            ul
              li
                a(href='www.linkedin.com/in/adambarnhard')
                  i.fa.fa-linkedin-square
              li
                a(href='https://twitter.com/TheBarnhard')
                  i.fa.fa-twitter-square
              li
                a(href='https://github.com/ABarnhard')
                  i.fa.fa-github-square
      // MEMBER 3
      .large-4.small-4.columns
        .team-member
          figure.profile-pic.img-responsive
            img(src='assets/img/team/liza.jpg', alt='Liza Carter')
          .member-details
            h5.dark-text.blue-border-bottom Liza Carter
            .position
              | Team Leader
          .social-icons
            ul
              li
                a(href='www.linkedin.com/pub/liza-carter/6a/7b3/8b2')
                  i.fa.fa-linkedin-square
              li
                a(href='https://twitter.com/LizaHCarter')
                  i.fa.fa-twitter-square
              li
                a(href='https://github.com/LizaHCarter')
                  i.fa.fa-github-square
      // MEMBER 4
      .large-4.small-4.columns
        .team-member
          figure.profile-pic.img-responsive
            img(src='assets/img/team/melanie.jpg', alt='Melanie Fryman')
          .member-details
            h5.dark-text.yellow-border-bottom Melanie Fryman
            .position
              | Team Member
          .social-icons
            ul
              li
                a(href='www.linkedin.com/in/mlfryman')
                  i.fa.fa-linkedin-square
              li
                a(href='https://twitter.com/mlfryman')
                  i.fa.fa-twitter-square
              li
                a(href='https://github.com/mlfryman')
                  i.fa.fa-github-square
      // MEMBER 5
      .large-4.small-4.columns
        .team-member
          figure.profile-pic.img-responsive
            img(src='assets/img/team/logan.jpg', alt='Logan Richardson')
          .member-details
            h5.dark-text.red-border-bottom Logan Richardson
            .position
              | Team Member
          .social-icons
            ul
              li
                a(href='www.linkedin.com/pub/logan-richardson/38/906/4ab')
                  i.fa.fa-linkedin-square
              li
                a(href='https://twitter.com/Glogandr')
                  i.fa.fa-twitter-square
              li
                a(href='https://github.com/GLoganDR')
                  i.fa.fa-github-square
      // MEMBER 6
      .large-4.small-4.columns
        .team-member
          figure.profile-pic.img-responsive
            img(src='assets/img/team/nathan.png', alt='Nathan Vazquez')
          .member-details
            h5.dark-text.red-border-bottom Nathan Vazquez
            .position
              | Team Member
          .social-icons
            ul
              li
                a(href='https://twitter.com/SuperArtie')
                  i.fa.fa-twitter-square
              li
                a(href='https://github.com/superartie')
                  i.fa.fa-github-square
    // / END team section
