h2#Crawlh2 {{crawl.name}}
h3 Starting from {{crawl.baseUrl}} to a depth of {{crawl.depth}}, our crawler found {{crawl.imgCount}} images!
.row#crawlsRow
    img(ng-repeat='image in images', src='{{image.src}}')
