.section-header.eight.columns.centered
  h1 {{mode | uppercase}}
// Crawl Form Section
.panel
  .row#crawlsRow
    .twelve.columns
      form(role='form', novalidate, name='crawlForm')
        .row
          .large-4.columns
            h5 Crawl Name:
            label#nameLabel(for='name', aria-describedby='nameHelpText')
              input.form-control#crawlName(type='text', name='name', ng-model='crawl.name', autofocus)
            #nameHelpText 
              .helper Give your new baby crawl a name.
          .large-4.columns
            h5 Enter URL:
            label#urlLabel(for='url', aria-describedby='urlHelpText')
              input#crawlUrl(type='text', placeholder='Enter the full URL...', ng-model='crawl.baseUrl')
            #urlHelpText
              .helper Enter the base URL you want to start crawling.
          .large-4.columns
            h5 Depth:
            label#depthLabel(for='depth', aria-describedby='depthHelpText')
              select(ng-model='crawl.depth')
                option(value='1') 1
                option(value='2') 2
                option(value='3') 3
            #depthHelpText 
              .helper How far down this rabbit hole do you want to go?
        .row
          .large-4.large-centered.columns
            a.btn.btn-secondary.btn-small.btn-raised.text-center(ng-click='submit()') Crawl the Web
    
    
// Saved Crawls Section
.row
  .twelve.columns.text-center
    h3#Crawlh2 Saved Crawls
.row
  .twelve.columns
    table#savedCrawls
      thead
        th Crawl Name
        th URL Crawled
        th # of Images
      tbody(ng-repeat='crawl in crawls | filter:query')
        tr
          td: a(href='/#/crawl/{{crawl._id}}') {{crawl.name}}
          td {{crawl.baseUrl}}
          td {{crawl.imgCount}}
