//------- Vendor Scripts -------//
script(src='/vendor/jquery/dist/jquery.js')
script(src='/vendor/foundation/js/foundation.min.js')
script(src='/vendor/angular/angular.js')
script(src='/vendor/angular-ui-router/release/angular-ui-router.js')
script(src='/vendor/foundation/js/foundation.min.js')
script(src='/vendor/angular-foundation/mm-foundation.min.js')
script(src='/vendor/underscore/underscore.js')
script(src='/vendor/toastr/toastr.js')
script(src='/vendor/particles.js/particles.min.js')    
script(src='/vendor/localforage/dist/localforage.js')
script(src='/vendor/angular-localforage/dist/angular-localForage.js')
script(src='/config/toastr.js')
script(src='/index.js')
//------- App Scripts -------//  
script(src='/components/factories/user.js')
script(src='/components/factories/http-interceptor.js')
script(src='/components/factories/messages.js')
script(src='/components/factories/crawl.js')
script(src='/views/nav/nav.js')
script(src='/views/users/users.js')
script(src='/views/home/home.js')
//script(src='/views/home/particlesHome.js')
script(src='/views/profile/profile.js')
script(src='/views/webcam/webcam.js')
script(src='/views/messages/view_messages.js')
script(src='/views/messages/view_message.js')
script(src='/views/messages/new_message.js')
script(src='/views/crawls/search_crawl.js')
script(src='/views/crawls/one_crawl.js')
script(src='/views/webcam/webcam.js')

//- must be last script
script.
  $(document).foundation();
