link(href='/vendor/foundation/css/normalize.css', rel='stylesheet')
link(href='/vendor/foundation/css/foundation.css', rel='stylesheet')
link(href='/vendor/fontawesome/css/font-awesome.css', rel='stylesheet')
link(href='/vendor/toastr/toastr.css', rel='stylesheet')
link(href='/index.css', rel='stylesheet')
link(href='/views/treehouse/main.css', rel='stylesheet')
//- link(href='/views/dashboard/dashboard.css', rel='stylesheet')
script(src='/vendor/modernizr/modernizr.js')
script(src='/vendor/foundation/js/vendor/modernizr.js')
