.snap-drawer
  ul.nav.navbar-nav#navigation(ng-hide='email', role=navigation)
    li
      a(ui-sref='/'): i.fa.fa-fw.fa-home &nbsp home
    li
      a(ui-sref='/#/login'): i.fa.fa-fw.fa-sign-in &nbsp login
    li
      a(ui-sref='/#/register'): i.fa.fa-fw.fa-hand-o-right &nbsp register

  ul.nav.navbar-nav#navigation(ng-show='email')
    li
      a(ui-sref='#'): i.fa.fa-fw.fa-star &nbsp &nbsp Misceo
    li
      a(ui-sref='/#/home'): i.fa.fa-fw.fa-home &nbsp home
    li
      a(ui-sref='/#/logout'): i.fa.fa-fw.fa-sign-out &nbsp logout
    li
      a(ui-sref='/#/profile'): i.fa.fa-fw.fa-user &nbsp profile
    li
      a(ui-sref='/#/inbox'): i.fa.fa-fw.fa-envelope &nbsp inbox
    li
      a(ui-sref='/#/inbox'): i.fa.fa-fw.fa-heart &nbsp crawls
