//.off-canvas-wrap(data-offcanvas='')
//  .inner-wrap
//    nav.tab-bar
//      section.left-small
//        a.left-off-canvas-toggle.menu-icon(href='#')
//          span
//      section.middle.tab-bar-section
//        h1.title Misceo
//    aside.left-off-canvas-menu
//      ul.off-canvas-list(data-ng-hide='email', role=navigation)
//        li
//          a(ui-sref='/'): i.fa.fa-fw.fa-home &nbsp home
//        li
//          a(ui-sref='/#/login'): i.fa.fa-fw.fa-sign-in &nbsp login
//        li
//          a(ui-sref='/#/register'): i.fa.fa-fw.fa-hand-o-right &nbsp register
//      ul.off-canvas-list(data-ng-show='email')
//        li
//          a(ui-sref='#'): i.fa.fa-fw.fa-star &nbsp &nbsp Misceo
//        li
//          a(ui-sref='/#/home'): i.fa.fa-fw.fa-home &nbsp home
//        li
//          a(ui-sref='/#/logout'): i.fa.fa-fw.fa-sign-out &nbsp logout
//        li
//          a(ui-sref='/#/profile'): i.fa.fa-fw.fa-user &nbsp profile
//        li
//          a(ui-sref='/#/inbox'): i.fa.fa-fw.fa-envelope &nbsp inbox
//        li
//          a(ui-sref='/#/inbox'): i.fa.fa-fw.fa-heart &nbsp crawls
//    section.main-section
//      include ../../../views/master/body
//    a.exit-off-canvas

header.header
  .row
    .four.columns.logo-container
      h2.th-logo
        a(href='/')
          h3 Misceo
    // /four column
    a.menu-toggle.icon.icon-hamburger-white(href='#')
    nav.eight.columns.toggle-jump.main-nav
      ul.nav.right
        li.features
          a(href='#') Features
        li.pricing
          a(href='#') Pricing
        li
          a.featurette(data-featurette='modal-trigger', data-mobile-fallback='doit', data-target='login-modal', href='https://teamtreehouse.com/signin?return_to=%2Fhome') Sign in
        li.sign-up
          a.btn.btn-trans.btn-solid.btn-tiny(href='#') Free trial
      // /nav right
    // /eight columns
  // /row
  .row
    .eight.columns.end
      .header-content
        h1 Misceo
        h2.subheading
          | Image web crawler
          | safe for work.
        a.btn.btn-primary.btn-raised.btn-large(href='#') Sign Up
        a.btn.btn-quiet.btn-raised.btn-large(href='#') Meet the Team
  // /row
// /header
