h1#Crawlh2 INBOX
//pre {{messages | json}}
.row
  .large-12
    table#inbox
      thead
        tr
          th From
          th Subject
          th Date
      tbody
        tr(ng-repeat='message in messages')
          td: a(href='/#/messages/{{message._id}}') {{message.from.name}}
          td: a(href='/#/messages/{{message._id}}') {{message.subject}}
          td {{message.time | date : format : medium}}


//from.name, subject,body timlarge
