h2#profileh2 {{mode | uppercase}}
.row
    form(role='form', novalidate, name='editForm')
      .row
        .small-1.columns
        .small-4.columns
          .panel.panel-info
            .panel-heading
            .panel-body
              dl.dl-horizontal
                dt Username
                dd
                  p(ng-hide='editMode') {{user.name}}
                  input(ng-show='editMode' type='text' ng-model='user.name' required)
                dt Profile Picture
                dd
                  img(ng-hide='editMode' src='{{user.pic}}' style='width: 250px')
                  input(ng-show='editMode' type='text' ng-model='user.pic' required)
                dt Email
                dd
                  p(ng-hide='editMode') {{user.email}}
                  input(ng-show='editMode' type='text' ng-model='user.email' required)
                dt Bio:
                dd
                  p(ng-hide='editMode') {{user.bio}}
                  textarea#summary.input-no-width.rounded.shaded.left.clearboth(ng-show='editMode', ng-model='user.bio', type='text', name='bio', rows='8', cols='50', required, placeholder='Share A Little About Yourself')
        .small-7.columns
  .row
    .small-5.columns
    .small-2.columns
      button.btn#editButton(style='width: 200px;' ng-hide='editMode', ng-click='startEditMode()') Edit Profile
      button.btn#saveButton(ng-show='editMode', ng-click='updateProfile()') Save
    .small-5.columns

